.fill {
  content: '';
  background: repeating-linear-gradient(
    90deg,
    var(--color-accent-normal),
    var(--color-accent-normal) 2px,
    transparent 0,
    transparent 10px
  );
}

.navLink,
.navLinkActive {
  text-underline-position: under;
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: underline;
}

.navLinkActive {
  color: var(--color-accent-normal);
}

.themeLink {
  color: var(--color-primary);
  cursor: pointer;
  position: absolute;
  right: 0;
}

.navLink:hover,
.themeLink:hover {
  color: var(--color-accent-normal);
}
