.fill {
  content: '';
  background: repeating-linear-gradient(
    90deg,
    var(--color-accent-normal),
    var(--color-accent-normal) 2px,
    transparent 0,
    transparent 10px
  );
}

.navlink,
.navlinkActive {
  @apply text-primary cursor-pointer underline;
  text-underline-position: under;
}

.navlinkActive {
  @apply text-accent-normal;
}

.navlink:hover {
  @apply text-accent-normal;
}
