.fill {
  content: '';
  background: repeating-linear-gradient(
    90deg,
    var(--color-accent-normal),
    var(--color-accent-normal) 2px,
    transparent 0,
    transparent 10px
  );
}

.navLink,
.navLinkActive {
  @apply text-primary cursor-pointer underline;
  text-underline-position: under;
}

.navLinkActive {
  @apply text-accent-normal;
}

.navLink:hover {
  @apply text-accent-normal;
}
