@import 'tailwindcss';
@import './variables.css';
@import './typography.css';

@theme {
  --color-primary: var(--color-primary);

  --color-accent-normal: var(--color-accent-normal);
  --color-accent-dark: var(--color-accent-dark);
  --color-accent-contrast: var(--color-accent-contrast);

  --border-width-0: 0;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-4: 4px;
  --border-width-6: 6px;
  --border-width-8: 8px;
  --border-width: 1px;

  --font-mono: Fira Code, 'Courier New', monospace;
}

.link {
  color: var(--color-primary);
  cursor: pointer;
}

.link:hover {
  color: var(--color-accent-normal);
}
