@import './variables.css';

/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

/* internal classes */
@import 'typography.css';

@import 'tailwindcss/utilities';
