@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/FiraCode-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/FiraCode-Bold.woff') format('woff');
  font-display: swap;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    background-color: var(--color-accent-dark);
    color: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility !important;
    font: var(--font-mono);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: var(--text-lg);
    color: var(--color-accent-normal);
    margin-bottom: calc(8 * var(--spacing));
  }

  h2 {
    font-size: var(--text-base);
    color: var(--color-accent-normal);
    border-bottom-style: double;
    border-bottom-color: var(--color-accent-normal);
    display: block;
    margin-bottom: calc(3 * var(--spacing));
    padding-bottom: calc(2 * var(--spacing));
    border-bottom-width: var(--border-width-3);
  }
}
