:root {
  --color-primary: #fff;
  --color-accent-normal: rgb(239, 239, 107);
  --color-accent-dark: rgb(34, 33, 41);
  --color-accent-contrast: rgb(91, 91, 91);
}

.theme-red {
  --color-primary: #fff;
  --color-accent-normal: rgb(239, 149, 107);
  --color-accent-dark: rgb(34, 33, 41);
  --color-accent-contrast: rgb(91, 91, 91);
}

.theme-monochrome {
  --color-primary: #fff;
  --color-accent-normal: rgb(255, 255, 255);
  --color-accent-dark: rgb(34, 33, 41);
  --color-accent-contrast: rgb(91, 91, 91);
}
